body {
    background-color: burlywood;
}
#container {
    background-color: cornsilk;
    width: 65%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
#banner {
    width: 100%;
}
#col_one {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
#col_two {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.heading_style {
    text-shadow:  2px 2px 2px #6b6b6b;
}
.cat_images {
    width: 50%;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
nav {
    text-align: center;
    margin: 10px 0;
    background-color: antiquewhite;
    border-radius: 10px;
}
nav ul {
        list-style-type: none;
        padding: 0;
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    width: 125px;
    height: 40px;
    line-height: 40px;
}
nav a:hover {
    background-color: black;
    color: antiquewhite;
}
two_col {
    display: flex;
}

h1, h2, h3 {
    text-align: center;
}